# Unity 관련
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# 사용자 설정
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo
*.vs/

# OS/기타
.DS_Store
Thumbs.db
*.apk
*.aab
*.unitypackage